<div class="code-wrapper" data-ng-controller="CodeCtrl">
    <div class="code-content">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="row-count">
                        <div data-ng-repeat="r in rows">
                            {{$index+1}}
                        </div>
                    </td>
                    <td class="code">
                        <div class="code-layer">
                            <div data-ng-repeat="row in rows">
                                <span data-ng-bind-html="toTrustHtml(row.text)"></span>
                                &nbsp;
                            </div>
                        </div>
                        <div class="marker-layer">
                            <div data-ng-repeat="rw in rows">
                                <div data-ng-repeat="c in stringToChars(rw) track by $index" data-ng-class="{marker: checkMarkerPosition($parent.$index, $index) }" class="marker-layout" data-ng-click="moveMarkerToPos($parent.$index, $index)"></div>
                                <br>
                            </div>
                        </div>
                    </td>    
                </tr>
            </tbody>
        </table>
    </div>
</div>
