<div class="modal-header">
    <h3 data-ng-show="isFolder">Create folder</h3>
    <h3 data-ng-hide="isFolder">Create file</h3>
</div>
<div class="modal-body">
    <div id="createAlertBox" class="alert hidden"></div>
    <div class="form-horizontal">
        <div class="form-group">
            <span data-ng-show="isFolder">
                <label for="folderName" class="col-sm-3 control-label">Folder name:</label>
                <div class="col-sm-8">
                    <input type="text" id="folderName" class="form-control" data-ng-model="newFolder.folderName" name="folderName" />
                </div>
            </span>
            <span data-ng-hide="isFolder">
                <label for="fileName" class="col-sm-3 control-label">File name:(Include file extension)</label>
                <div class="col-sm-8">
                    <input type="text" id="fileName" class="form-control" data-ng-model="newFile.fileName" name="fileName" />
                </div>
            </span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-show="isFolder" data-ng-click="saveFolder()">Create folder</button>
    <button class="btn btn-primary" data-ng-hide="isFolder" data-ng-click="saveFile()">Create file</button>
    <button class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
</div>
