<div class="editor-container full-window" data-ng-controller="EditorCtrl">
    <div class="edit-wrapper">
        <div class="top-menu">
            <div class="dropdown editor-menu-item">
                <a id="fileDDL" data-toggle="dropdown" href="javascript:void(0);">File</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="fileDDL">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="createFile()"><span class="glyphicon glyphicon-file"></span> New file</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="initAddFolder(project.rootFolder._id)"><span class="glyphicon glyphicon-folder-close"></span> New folder</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="saveAll()"><span class="glyphicon glyphicon-floppy-disk"></span> Save all</a></li>
                </ul>
            </div>
            <a href="javascript:void(0);" class="editor-menu-item" data-ng-click="options()">Options</a>
        </div>

        <div class="left-side-bar">
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="folder in project.rootFolder.folders"
                    data-ng-include="'/app/Editor/Views/FolderTreeStructureTemplate.html'"></li>
                <li class="list-group-item" data-ng-repeat="file in project.rootFolder.files">
                    <span class="pointer" data-ng-click="loadFile(file)">
                        <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;{{file.name}}.{{file.type}}
                    </span>
                    <span data-ng-include="'/app/Editor/Views/ItemDropdownTemplate.html'"></span>
                </li>
                <li class="list-group-item">
                    <span class="pointer" data-ng-click="initAddFolder(project.rootFolder._id)">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add folder
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="pointer" data-ng-click="initAddFile(project.rootFolder)">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New file
                    </span>
                </li>
            </ul>
        </div>

        <div data-ng-include="'/app/Editor/Views/CodeTemplate.html'"></div>
    </div>
</div>
