<div class="container">
    <div class="wrapper">
        <span data-online-editor-menu=""></span>

        <div data-ng-controller="ProjectCtrl">
            <h1>Your projects</h1>
            <div id="projectAlertBox" class="alert"></div>
            <div class="panel panel-default">
                <div class="panel-heading">Local projects</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-cs-6 col-md-1" data-ng-show="showLoader">
                            <img src="/images/loader.gif" alt="Loading...">
                        </div>
                        <div class="col-xs-6 col-md-3" data-ng-repeat="project in projects">
                            <div class="thumbnail project-color">
                                <div class="caption">
                                    <h4>{{project.projectName}}</h4>
                                    <p>Owner: {{project.owner.name}}<br>
                                    Username: {{project.owner.username}}</p>
                                </div>
                                <a href="javascript:void(0)" class="btn btn-danger" data-ng-click="deleteProject(project)">Delete</a>
                                <a href="javascript:void(0)" class="btn btn-info" data-ng-click="openCreateEditProjectModal(project)">Update</a>
                                <a href="#/editor/{{project._id}}" class="btn btn-primary" data-ng-click="loadProject(project)">Open</a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2 center-text create-project" data-ng-hide="showLoader">
                            <a href="javascript:void(0);" data-ng-click="openCreateEditProjectModal(null, false)">
                                <span class="glyphicon glyphicon-plus"></span>
                                <p>Create new project</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Github projects</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-cs-6 col-md-1" data-ng-show="showLoader">
                            <img src="/images/loader.gif" alt="Loading...">
                        </div>
                        <div class="col-xs-6 col-md-3" data-ng-repeat="ghProject in githubProjects">
                            <div class="thumbnail project-color">
                                <div class="caption">
                                    <h4>{{ghProject.name}}</h4>
                                    <p>Owner: {{ghProject.owner.login}}<br>
                                        <span data-ng-show="ghProject.private">This is a private project</span>
                                        <span data-ng-hide="ghProject.private">This is a public project</span>
                                    </p>
                                </div>
                                <a href="javascript:void(0)" class="btn btn-primary" data-ng-click="loadGHProject(ghProject)">Import</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
