html, body {
    height:100%;
    width: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.full-window {
    height: 100%;
}

.project-color {
    background-color: #f8f8f8;
}

.center-text {
    text-align: center;
}

.create-project .glyphicon-plus {
    margin-top: 30px;
    font-size: 5.2em;
}

.create-project a {
    color: black;
}

.create-project a:hover {
    color: #00B7FF;
    cursor: pointer;
}

.editor-container {
    width: 100%;
    background-color: #333333;
}

.edit-wrapper {
    height: 96%;
}

.top-menu {
    width: 300px;
    height: 30px;
    background-color: #f8f8f8;
    padding: 5px;
    margin-top: 0;
    position: relative;
    top: 0;
    left: 0;
    float:left;
}

.left-side-bar {
    width: 300px;
    height: 570px;
    position: relative;
    left: 0;
    background-color: #CACACA;
    float: left;
    overflow: scroll;
}

.editor-menu-item {
    margin-left: 20px;
    float:left;
}

.menu-list {
    margin-left: 0;
    list-style: none;   
}

.code-wrapper {
    height: 570px;
    overflow: scroll;
    width: 1000px;
    float:left;
    color: white;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.open-files {
    height: 30px;
    background-color:#f8f8f8;
    border-bottom: 2px solid #cacaca;
}

.open-file {
    line-height: 22px;
    height: 28px;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    width:150px;
    background-color: #d4d4d4;
    margin-right: 2px;
    float:left;
    overflow: hidden;
}

    .open-file .selected {
        background-color: #ffffff;
    }

    .open-file .glyphicon-remove {
        line-height: 22px;
    }

.code-content {
    padding: 5px;
    float:left;
    color: #FFF;
}

.code {
    color: white;
    background-color: #333333;
    border: none;
    margin: 0;
    width: 940px;
    height: 534px;
    float:left;
}

.code-layer {
    float:left;
    position:absolute;
    /*z-index: 10000;*/
}

.marker-layer {
    position:absolute;
    float: left;
    /*z-index: 5000;*/
}

.marker-layout {
    width:8px;
    height: 17px;
    float:left;
}

.marker {
    background-color: #FF4000;
}

.row {
    cursor: text;
}

.row-count {
    /*margin-top: 5px;*/
    margin-right: 5px;
    margin-left:5px;
    width:23px;
    text-align: center;
    float:left;
}

.pointer:hover{
    cursor: pointer;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}
